<%
page.layout = "about"
page.title = theme.about.title || __('about.title')
page.subtitle = theme.about.subtitle || __('about.subtitle')
page.banner_img = theme.about.banner_img
page.banner_img_height = theme.about.banner_img_height
page.banner_mask_alpha = theme.about.banner_mask_alpha
%>

    <div class="text-center">
        <div class="about-info">
            <div class="about-name">
                <%- theme.about.name %>
            </div>
            <div class="about-intro">
                <%- theme.about.introduce %>
            </div>
            <div class="about-icons">
                <% for(const each of theme.about.icons) { %>
                    <% if (!each.class) continue; %>
                        <% var cls = each.class %>
                            <% var isQr = each.qrcode %>
                                <a href="<%= isQr ? 'javascript:;' : url_for(each.link) %>" class="<%= isQr ? 'qr-trigger' : '' %>">
          <i class="<%= cls %>" aria-hidden="true"></i>
          <% if (isQr) { %>
            <img class="qr-img" src="<%= url_for(each.qrcode) %>" alt="qrcode" />
          <% } %>
        </a>
                                <% } %>
            </div>
        </div>
    </div>
    <div class="mt-5 markdown-body">
        <%- page.content %>
    </div>

    <div class="content">
        <div class="ah-tab-wrapper">
            <div class="ah-tab">
                <a class="ah-tab-item" data-ah-tab-active="true" href="">本站使用的一些服务</a>
                <a class="ah-tab-item" href="">更新日志</a>
                <a class="ah-tab-item" href="">相关版权</a>
                <a class="ah-tab-item" href="">本站节点信息</a>
                <a class="ah-tab-item" href="">移动端页面预览</a>
            </div>
        </div>
        <div class="ah-tab-content-wrapper">
            <div class="ah-tab-content" data-ah-tab-active="true">
                <strong>以下为本站所使用程序及插件</strong>
                <h2> </h2>
                <li><strong><a href="https://github.com/fluid-dev/hexo-theme-fluid" target="_blank" rel="noopener">Fluid</a></strong></li>
                <li><strong><a href="https://www.jsdelivr.com" target="_blank" rel="noopener">JSDelivr</a></strong></li>
                <li><strong><a href="https://hitokoto.cn/" target="_blank" rel="noopener">Hitokoto</a></strong></li>
                <li><strong><a href="https://valine.js.org/" target="_blank" rel="noopener">valine</a></strong></li>
                <li><strong><a href="https://hexo.io/" target="_blank" rel="noopener">hexo</a></strong></li>
                <li><strong><a href="https://github.com/jaredly/hexo-admin" target="_blank" rel="noopener">hexo-admin</a></strong></li>
                <li><strong><a href="https://github.com/rozbo/hexo-abbrlink" target="_blank" rel="noopener">hexo-abbrlink</a></strong></li>
                <li><strong><a href="https://github.com/MikeCoder/hexo-blog-encrypt" target="_blank" rel="noopener">hexo-blog-encrypt</a></strong></li>
                <li><strong><a href="https://github.com/netcan/hexo-generator-index-pin-top" target="_blank" rel="noopener">hexo-generator-index-pin-top</a></strong></li>
                <li><strong><a href="https://github.com/MoePlayer/hexo-tag-dplayer" target="_blank" rel="noopener">hexo-tag-dplayer</a></strong></li>
            </div>
            <div class="ah-tab-content">
                <li>网站整体建设开发（2020/4/4）</li>
                <li>网站插件部署（2020/4/5）</li>
                <li>网站关于页面完善（2020/4/5）</li>
                <li>一些错误更正（2020/4/6）</li>
                <li>jsdelivr 使用参考 （2020/4/6）</li>
                <li>友链页面 （2020/4/7）</li>
                <li>视频播放插件 （2020/4/7）</li>
                <li>关闭分类页，打开归档页面（2020/4/7）</li>
                <li>更换评论系统为 valine ，创建留言页面（2020/4/7）</li>
                <li>顶部任务栏图标（2020/4/8）</li>
                <li>中英文规范与博客版本更新（2020/4/10）</li>
                <li>加密插件（2020/4/10）</li>
                <li>统计服务及内容管理页面（2020/4/10）</li>
                <li>valine 邮箱提醒（2020/4/10）</li>
                <li>GitHub Actions 部署（2020/5/9)</li>
                <li>更新 footer (2020/5/10)</li>
                <li>移动一言与运行时间到关于页面(2020/5/10)</li>
                <li>更换 CDN (2020/5/11)</li>
            </div>
            <div class="ah-tab-content">
                <li>网站内容使用 CC BY-SA 3.0 协议，除特别标注外，均可注明出处转载。Fluid 使用 MIT 协议，我会遵守相关协议。网站图片部分来源于网络，如有侵权，非常抱歉，请通过上方电子邮件按钮联系我，收到后我将尽快删除。</li>
            </div>
            <div class="ah-tab-content">
                <h2>待添加</h2>
            </div>
            <div class="ah-tab-content">
                <iframe src="https://i.vince.pub/" width="100%" height="500" name="topFrame" scrolling="yes" noresize="noresize" frameborder="0" id="topFrame"></iframe>
            </div>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.vince.pub/blog-file/js/horizontalmenu.js"></script>
    <script>
        $(function() {
            $('.ah-tab-wrapper').horizontalmenu({
                itemClick: function(item) {
                    $('.ah-tab-content-wrapper .ah-tab-content').removeAttr('data-ah-tab-active');
                    $('.ah-tab-content-wrapper .ah-tab-content:eq(' + $(item).index() + ')').attr('data-ah-tab-active', 'true');
                    return false; //if this finction return true then will be executed http request
                }
            });
        });
    </script>